.container{
width: 1280px;
background-color: F5F5F5;
color: black;
margin: 0 auto;
}

*{
    box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}


body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #f6f6f6;
}

a{
color:inherit;

}


.header_1{

    height: 30px;
    background-color: #EAEDEF;
    margin-bottom: 10px;
    margin-top: 3px;
    font-weight: 400;
    color: black;
    padding: 5px;
    font-size: 11px;
}

.r{
    padding-right: 30px;
    
}


.button_catalog{
  background-color: #BA257D; 
  color: white; 
  width: 196px; 
  height: 37px; 
  border-radius: 5px; 
  text-align: center; 
  margin-left: 18px; 
  padding: 10px;

}

.search{
  width: 490px; 
  height: 37px; 
  border-radius: 5px; 
  margin-left: 20px;
  }


.logotip{
  float: right;
  padding: 10px;
  margin-top: -12px;
 
}

.enter{
  width: 24px;
  height: 24px;
  margin-left: 3px;
 
}

.izbrannoe{
  width: 24px;
  height: 22px;
  margin-left: 13px;
 
}

.sravnenie{
  width: 18px;
  height: 21px;
  margin-left: 15px;
}


.korzina{
  width: 19px;
  height: 17px;
 margin-top: 4px;
 margin-left: 10px;
}

.text{
  font-family: Roboto;
font-size: 10px;
font-weight: 300;
line-height: 12px;
letter-spacing: 0em;
text-align: center;
color: rgba(51, 51, 51, 1);
margin-top: 5px;
}

.spisok_ikon{
  margin-top: 13px;
  margin-right: 45px;
}

.menu{
  text-transform: uppercase;
  float: left;
  margin-top: 8px;
  font-weight: bold;
  font-size: 12px;
  padding-right: 10px;
  text-decoration: none;
}

.zvezda{
  height: 13px;
  width: 13px;
}

.menu_padding{
  margin-top: 11px;
}

.banner{
width: 955px;
height: 434px;
float: left;
border-radius: 2px;

}
.clear{
  clear: both;
}

.reklama{
  float: left;
  font-weight: bold;
  margin-left: 30px;
  background-color: white;
  border-radius: 2px;
  margin-top: 10px;
  overflow: visible;
  width: 280px;
  height: 434px;
  padding: 15px;

 
}

.time{
  color: red;
  font-weight: bold;
  font-size: 16px;
  /* padding-left: 10px; */
}

.buy{
font-size: 16px;
/* padding-left: 10px; */


}


.bed{

width: 250px;
height: 180px;
padding-top: 20px; 
/* padding-left: 18px; */


}


.dins_banner{
  margin-top: 25px;
  font-size: 14px;
  margin-bottom: 15px;
}

.zvezda_sale{
float: left;
height: 13px;
width: 13px; 


}
.rating{
  float: left;
  font-size: 12px;
  color: #BA257D;
  vertical-align: middle;
  padding-top: 2px;
  padding-left: 15px;
}


.otzyvy{
  float: left;
  font-size: 12px;

  padding-top: 2px;
  padding-left: 15px;
  color: #888888;
}

.sale{
  color: #888888;
  font-size: 10px;
  padding-top: 20px;

}


.cena{
  font-size: 20px;
  float: left;
  padding-top: 5px;
  padding-right: 10px;
}

.korzina_button{
  background-color: #BA257D;
  border-radius: 8px;
  width: 108px;
  height: 26px;
  border: none;
  color: white;
  font-size: 10px;
}

.Zagolovok{
  font-size: 32px;
  float: left;

}

.strelka{
  float: left;
  padding-top: 3px;
  padding-left: 10px;
}

.head_zagolovok{

  margin-top: 20px;
}











  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }


  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
    
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
