*{
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: #F9F9F9;
    
    margin: 0 auto;
    height: max-content;
    display: flex;
    justify-content: center;
   
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }


  a{
    color:inherit;
    
    }
    
.header{
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.08);
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px 8px 24px; 
    /* max-width: 1940px; */   
    width: 100vw;
}

.logo{
    width: 88px;
    height: 24px;
}

.header_search{

width: 429px;
height: 40px;
padding-left: 16px;
border-radius: 8px;
border: 1px solid #E7E7E7;
background-color: #ECECF4;
color: #7E8892;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 20px; 


}

.header_tab_settings{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: #FFF; 
}

.tab_icon{
    width: 24px;
height: 24px;

}

.header_tab{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
   
}


.tab_text{
    color: #1B1D23;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;   
}

.header_button{

display: flex;
height: 32px;
padding: 10px 16px;
justify-content: center;
align-items: center;
gap: 6px;
border: none;
border-radius: 8px;
background-color: #ECECF4;
color: #1B1D23;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 20px; 
white-space: nowrap; ;

}


.header_button_news{
background-color: #306BFF;
width: 19px;
height: 16px;
color: #FFF;
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 15px; 
border-radius: 10px;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;

}

.small_avatar{
 width: 32px;
height: 32px; 
border-radius: 50%;
overflow: hidden;
}




.main{
    margin: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
    }

.vetrical-block{
display: flex;
flex-direction: column;
margin: 0px 14px;
}

.block-content{
   
    filter: drop-shadow(0px 1px 16px rgba(0, 0, 0, 0.08));
    background-color: #FFF;
    border-radius: 20px;
    padding: 18px;
    margin-bottom: 24px;
    height: max-content;
}


.profile-style{
display: flex;
flex-direction: column;
align-items: center;

}




.profile_background{
    border-radius: 20px;
    width: 100%;
}


.avatar_block{
    width: 90px;
    height: 90px; 
    border-radius: 50%;
    overflow: hidden;
    border: solid white 5px;
    margin-top: -50px;
}

.avatar_main{
width: 100%;
height: 100%;
display: flex;
justify-content: center;

}

.profile_name{
    color: #1B1D23;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    margin-top: 10px;

   }

.user_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px;
    gap: 4px;
   }

   .position{
    color: #7E8892;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px; 
   }
   .dott{
    width: 3px;
    height: 3px;
    background-color:  #E7E7E7;
    border-radius: 5px;
   }

   .status{
    color: #306BFF;
text-align: center;
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 15px; 
  
}



.follow_num{
color: #1B1D23;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; 
}

.follow_name{
    color: #7E8892;
text-align: center;
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 15px;
cursor: pointer;
}

.cursor{
cursor: pointer;
/* border-radius: 50%; */}

.follow{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 16px;
gap: 54px;
}

.profile_settings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.profile_button{
color: #1B1D23;
background-color: #ECECF4;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 20px; 
border: none;
display: flex;
width: 247px;
height: 32px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 8px;

}

.img-requests{
    display: flex;
    justify-content: center;
    border-radius: 70%;
    overflow: hidden;
    height: max-content;

}








.menu{
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    color: rgba(126, 136, 146, 1);
    padding: 9px;
    cursor: pointer;
}

.anketa{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin: 7px -9px;
    padding: 3px 9px;

    align-items: center;
}



.hover-li:hover {
    background-color: rgba(227, 235, 255, 1); /* Цвет фона под ссылкой */ 
    color: rgba(27, 29, 35, 1); /* Цвет ссылки */ 
    stroke: #306BFF;
    cursor: pointer;
    }

button{
    cursor: pointer;
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
}


.team-requests{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 10px;

}

.view{
    color: #7E8892;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    white-space: nowrap;
}

.blockname{
    color: #1B1D23;
    text-align: center;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    margin-bottom: 5px;

    
}

.photo{
    width: 36px;
    height: 36px;
    border-radius: 30px;
    background-image: url('../img/a6b002da9feb0cce7f7a66e2d3406a5a.jpg');
    background-size: 370px;
    
}

.viktorov{background-position: 148px 148px; }   
.konstantinova{background-position: 185px 148px;}  
.martial{background-position: 38px 75px;}  




.button-final{
    justify-content: space-between; 
    margin-right: 0;
    

}

.teammate{
    color: #1B1D23;
text-align: left;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 20px; 

}

.job{
    color: #7E8892;
    text-align: left;
    
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px; 
    white-space: nowrap;
  
}

.friend{

    display: flex;
    margin-left: 10px;
   
    flex-direction: column;
}

.textarea{
    border-radius: 8px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: rgba(126, 136, 146, 1);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px; 
    width: 100%; /* Ширина поля в процентах */
    height: 60px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
    padding-left: 10px;
    
  
}

input:focus::-webkit-input-placeholder { color:transparent;}
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


textarea:focus::-webkit-input-placeholder { color:transparent; } */



.newpost{
    width: 100%;
    max-height: max-content;
 
   
}
path{
    stroke:rgba(126, 136, 146, 1);
}

  .menu:hover path{
   stroke: rgba(48, 107, 255, 1);
 
  }

.attach:hover path{
    stroke: rgba(48, 107, 255, 1);
}
.send:hover path{
    fill: rgb(95, 95, 95);
    stroke: #1B1D23;
}


.cursor:hover path{
    stroke: rgba(48, 107, 255, 1);
  
   }
   .cursor-settings:hover path{
    stroke: rgba(108, 107, 107, 0.116);
  
   }
.avaTextSmile{
    display: flex;
    flex-direction: row;
}

.add{
display: flex;
flex-direction: row;
gap: 8px;
width: 24px;
height: 24px;
}

.buttonPublish{
    color: #FFF;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    display: inline-flex;
    height: 32px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #306BFF;
    cursor: pointer;
    border: solid 1px rgba(244, 144, 71, 0);
    
}

.buttonPublish:hover {
    
    background-color: #2160ff;}

    .buttonSave:hover {
    
        background-color: #2160ff;}


.publish_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.userTime{
flex-direction: column;
justify-content: flex-start;
}

.user_name{
    color: #1B1D23;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
    white-space: nowrap;
    
}



.timeActive{
    color: #7E8892;
text-align: center;
margin-top: 2px;
font-family: Roboto;
font-size: 13px;
font-weight: 400; 
display: flex;
justify-content: flex-start;
}

.reque-gap{
    gap: 40px;
}

.buttonsettings{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: rgba(236, 236, 244, 1);
    border: none;
       
}

.buttonsettings:hover{
    background-color: rgb(229, 229, 231);
}

.buttonCancel:hover{
    background-color: rgb(229, 229, 231);
}


.dott_button{
    width: 3px;
    height: 3px;
    background-color:  rgba(126, 136, 146, 1);
    border-radius: 5px;
    }


.three_dotts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.text{
    color: #1B1D23;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px; 

}


.post_img{
    border-radius: 10px;
    overflow: hidden;
    margin-top: 7px;
    
}

.content-img{
    width: 100%;
}


.post{
    width: 100%;
    margin-top: -5px;

   
}


.modal-link{
    text-decoration: none;
   width: 100%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
text-decoration: none;
}




.like_button{


background-color: #ECECF4;
border: none;
color: #7E8892;
font-family: Roboto;
font-size: 13px;
font-weight: 400;
line-height: 19px; 
height: 28px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px 5px;
}

.like_button:hover{
    background-color: #e0e3e5;
}
.profile_button:hover{
    background-color: #e0e3e5;
}
.header_button:hover{
    background-color: #e0e3e5;
}

.header_tab_settings:hover{
    background-color: #e0e3e5;
}
    .close:hover{
        cursor: pointer;
    }


.post_button{
font-family: Roboto;
font-size: 13px;
font-weight: 400;
line-height: 19px; 
border-radius: 8px;
background-color: #7E8892;
overflow: hidden;
}

.feedback{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    
    gap: 9px;
    
   }

.like_img{
    width: 16px;
    height: 16px;
      
}

.count{
    color: #7E8892;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px; 

}

.views{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 27px;
}

.number_of_views{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

}


.comment{
    color: #1B1D23;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px; 

}


.newComment{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
    
}

.text_input{
width: auto;
height: 40px;
padding-left: 16px;
border-radius: 8px;
border: none;
color: #7E8892;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 20px; 
}


.add_comment{
    border: 1px solid #E7E7E7;
   border-radius: 8px;
   width: 100%;
   display: flex;
align-items: center;
justify-content: space-between;
padding-right: 5px;
flex-wrap: nowrap;
}

.addstyle{

display: flex;
flex-direction: row;    
gap: 8px;
justify-content: end;
flex-wrap: nowrap;
align-items: center;
}

.reque{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    align-items: center;
}

.img-zapros{
    display: flex;
    align-items: center;
   
}

.post-header{
    display: flex;
    justify-content: space-between;
    
    
}









/* Кнопка для открытия */
.css-modal-open {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #f6f6f6;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    overflow: hidden;
    z-index: 1;    
}
.css-modal-open:hover,
.css-modal-open:active,
.css-modal-open:focus {
    color: #FFF;
}
.css-modal-open:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #2D6B9F;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.css-modal-open:hover:before,
.css-modal-open:active:before,
.css-modal-open:focus:before {
    transform: translateX(0);
}
 
/* Контейнер, который затемняет страницу */
.css-modal-target {
    display: none;
}
.css-modal-target:target {
    display:flex;
    align-items:center;
    justify-content:center;    
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(0, 0, 0, 0.5);
}
 
/* Модальное окно */
.css-modal-target .cmt {
    font-family: Verdana, sans-serif;  
    font-size: 16px;
    padding: 20px;
    width: 80%;
    z-index: 8;
    width: 500px;
    height: 744px;
    transition: 0.5s;
    border: none;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 3px 25px 0px rgba(27, 29, 35, 0.20);
    text-align: center;
    animation: scale 0.5s ease;
    overflow-y: scroll;
    padding: 0px;
}
 









.cmt::-webkit-scrollbar {
    display: none;
}

.text-modal{
color: #1B1D23;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
}

.profile-settings{
    color: #1B1D23;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; 
}

.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:-webkit-sticky; position:sticky; top:0;
    padding: 18px 24px 30px 24px;
    background-color: #FFF;
   
}

.modal-main{
    padding: 0px 24px;
}

.modal-footer{
    display: flex;
    background-color: #FFF;
    position:-webkit-sticky; position:sticky; bottom:0;
    border-top: 1px solid #E7E7E7;
    gap: 10px;
    justify-content: end;
    padding: 18px 24px;
    
}

.buttonCancel{
    display: flex;
    height: 32px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
  
    border-radius: 8px;
    border: 1px solid #E7E7E7;
    background-color: #ECECF4; 
    color: #1B1D23;

/* Typesetting/P3 14 Regular */
font-family: Roboto;
font-size: 14px;

font-weight: 400;
line-height: 20px; /* 142.857% */
text-decoration: none;
}

.buttonSave{
    display: flex;
height: 32px;
padding: 10px 16px;
justify-content: center;
align-items: center;

border-radius: 8px;
background-color: #306BFF;
color: #FFF;

/* Typesetting/P3 14 Regular */
font-family: Roboto;
font-size: 14px;

font-weight: 400;
line-height: 20px; /* 142.857% */
}


.modal-ava{
    
 
    margin-bottom: 8px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
}

.modal-img{

    width: 120px;
    height: 120px;
    border-radius: 50%;
}


.actionsWithPhoto{
display: flex;
flex-direction: row;
justify-content: center;
gap: 12px;
}

.changePhoto{
    color: #306BFF;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    
}

.removePhoto{
    color: #F30000;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    }

.close{
    width: 28px;
    height: 28px;
 }

 .modal-info{
    display: flex;
    justify-content: left;
    gap: 8px;
    margin-top: 32px;
 }

 .user-form{
    display: flex;
    flex-direction: column;
 }

 .user-form-head{
    color: #7E8892;
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    line-height: 20px; 
 }

 .form-input{
    display: flex;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E7E7E7;
    background: #FFF;
    width: 220px;
    height: 40px;
    color: #1B1D23;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    padding-left: 16px;
    margin-bottom: 10px;
 }


 .modal-form{
 margin-top: 10px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 12px;   
 }

 input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.modal-area{

width: 452px;
resize: none;
height: 80px;
padding: 10px 8px 0px 16px;


}

.permission-name{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 10px;

}

.permission-text{
    color: #1B1D23;
    font-family: Roboto;
    font-size: 14px;
    display: flex;
    justify-content: start;
    font-weight: 400;
    line-height: 20px; 
}

.permission{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}

.check-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}




.checkbox-ios {
  
	height: 28px;    
	line-height: 28px;  
	margin-right: 10px;      
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	user-select: none;
    display: flex;
    align-items: center;
    content: EN RUS;
}

    .checkbox-ios .checkbox-ios-switch {
        position: relative;	
        display: inline-block;
        box-sizing: border-box;			
        width: 90px;	
        height: 40px;
        border: 1px solid rgba(0, 0, 0, .1);
       /*  border-radius: 25%/50%; */	
        vertical-align: top;
        background: #eee;
        transition: .2s;
        border-radius: 8px;
    }
    .checkbox-ios .checkbox-ios-switch:before {
        content: '';
        vertical-align: middle;
        border-radius: 8px;
        display: inline-block;
        width: 40px;	
        height: 37px;
        /* border-radius: 50%; */
        background: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        transition: .15s;
    }
    .checkbox-ios input[type=checkbox] {
        display: block;	
        width: 0;
        height: 0;	
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .checkbox-ios input[type=checkbox]:not(:disabled):active + .checkbox-ios-switch:before {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
       
    }
    .checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch {
        background: rgba(0, 0, 0, .1);
        
    }
    .checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch:before {
        transform:translateX(48px);
    }
    
    /* Hover */
    .checkbox-ios input[type="checkbox"]:not(:disabled) + .checkbox-ios-switch {
        cursor: pointer;
        border-color: rgba(0, 0, 0, .3);
    }
    
    /* Disabled */
    .checkbox-ios input[type=checkbox]:disabled + .checkbox-ios-switch {
        filter: grayscale(70%);
        border-color: rgba(0, 0, 0, .1);
    }
    .checkbox-ios input[type=checkbox]:disabled + .checkbox-ios-switch:before {
        background: #eee;
    }
    
  
    .EnterField{
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.08);   
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    }


    .container-logIn{
        width: auto;
        height: auto; 
        background-color: #F7F7FD;

    }

    .enter-logIn{
        color: #1B1D23;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 700;
        line-height: 30px; 
    }

.input-LogIn{
border-radius: 8px;
border: 1px solid #E7E7E7;
background-color: #ECECF4;
text-decoration-color: #76809A;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px; 
height: 56px;
padding-left: 10px;
}

.footer-LogIn{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.next{
    height: 40px;
    width: 115px;
}