.can-toggle {
  display: flex;
  justify-content: center;

 }
 .can-toggle *, .can-toggle *:before, .can-toggle *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }
 .can-toggle input[type="checkbox"] {
  opacity: 0;
 }

 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0; /* сдвиг левого атрибута */

 }
 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
 }

 .can-toggle label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: end;
 }

 .can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: none;
  text-align: center; /* содержимое чекбокса ДО */
 }
 .can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: none;
  text-align: center;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);  
  display: flex;
  align-items: center;
  justify-content: center;   /* содержимое чекбокса ПОСЛЕ */
 }

 .can-toggle input[type="checkbox"] {
  color: #1B1D23; 

text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
 }


 .can-toggle label .can-toggle__switch {
  -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background-color: #ECECF4;  /* цвет чекбокса */
 }

 .can-toggle.can-toggle--size-small input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(44px, 0, 0);
  transform: translate3d(44px, 0, 0);/*  */
 }

 .can-toggle.can-toggle--size-small label .can-toggle__switch {
  height: 40px;
  width: 89px;
  border-radius: 7px;   /* размеры чекбокса */
 }

 .can-toggle.can-toggle--size-small label .can-toggle__switch:before {
  top: 12px;
  left: 52.5px;
  right: 45px;
  color: #7E8892;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;


 }
 .can-toggle.can-toggle--size-small label .can-toggle__switch:after {
  top: 4px;
  left: 2px;
  border-radius: 1px;
  width: 40px;
  height: 32px;
  line-height: 26px;
  font-size: 14px; 
  font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;   /* размер бегунка */
 }

 
 
 