.container{
width: 1280px;
background-color: F5F5F5;
color: black;
margin: 0 auto;
}

*{
    box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}


body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

a{
color:inherit;

}


.header_1{

    height: 30px;
    background-color: #EAEDEF;
    margin-bottom: 10px;
    margin-top: 3px;
    font-weight: 400;
    color: black;
    padding: 5px;
    font-size: 11px;
}

.r{
    padding-right: 30px;
    
}


.button_catalog{
  background-color: #BA257D; 
  color: white; 
  width: 196px; 
  height: 37px; 
  border-radius: 5px; 
  text-align: center; 
  margin-left: 18px; 
  padding: 10px;

}

.search{
  width: 522px; 
  height: 37px; 
  border-radius: 5px; 
  margin-left: 20px;
  }



  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }


  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
    
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
